.products-list td,.products-list tr 
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.products-list tbody tr:nth-of-type(odd) {
    background: #d3d3d3;
}

.products-list thead tr td:last-of-type {
    min-width: 250px;
}

.products-list thead 
{
    background: #add8e6;
    font: "Monotype Corsiva";
}

.add-product {
    position: relative;
    right: -50%;
}

form {
    width: 50%;
}

.validation-summary-errors, .field-validation-error {
    color: #ff0000;
}